<div class="row nested-fields form-group">
  <div class="col-md-3">
    <%= f.association :product, label: false, input_html:{class:"select_product"} %>
  </div>
  <div class="col-md-3">
    <%= f.association :color,label: false, input_html:{class:"select_color"} %>
  </div>
  <div class="col-md-3">
    <%= f.association :dimension,label: false, input_html:{class:"select_dimension"} %>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-1"></div>
  <%= link_to_remove_association f, class:"btn" do %>
    <i class="fa fa-trash"></i>
  <% end %>
</div>
</div>
