<div class="row nested-fields form-group" id="item_header">
  <div class="col-md-2">
    產品
  </div>
  <div class="col-md-2">
    顏色
  </div>
  <div class="col-md-1">
    尺吋
  </div>
  <div class="col-md-2">
    數量
  </div>
  <div class="col-md-2">
    銷售價
  </div>
  <div class="col-md-2">
    運費
  </div>
  <div class="col-md-1">
    刪除
  </div>
</div>
