<div class="row nested-fields form-group" id="item_header">
  <div class="col-md-6">
    產品
  </div>
  <div class="col-md-3">
    顏色
  </div>
  <div class="col-md-3">
    尺吋
  </div>
  <div class="col-md-3">
    數量
  </div>
  <div class="col-md-3">
    銷售價
  </div>
  <div class="col-md-3">
    運費
  </div>
  <div class="col-md-3">
    刪除
  </div>
</div>
</div>
