<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h2>銷售明細</h2>
        </div>
        <div class="ibox-content">
          <%= link_to("新增銷貨單", new_admin_sale_path, class:"btn btn-info pull-right") %>
          <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
              <tr>
                <th data-toggle="true">#</th>
                <th>Sale No.</th>
                <th class="text-right">Cost</th>
                <th class="text-right">Profit</th>
                <th class="text-right">Profit Rate</th>
                <th class="text-right">Sale Date</th>
                <th class="text-right">Shipped Date</th>
                <th class="text-right" data-sort-ignore="true">Action</th>
              </tr>
            </thead>
            <tbody>
              <%= render :partial => "sale_fields", :collection => @sales, :as => :sale  %>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="8">
                  <ul class="pagination pull-right"></ul>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h2>銷售總覽</h2>
        </div>
        <div class="ibox-content">
          <div id="sales_chart"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-title">
          <h2>運送類型比率</h2>
        </div>
        <div class="ibox-content">
          <div id="ship_type_pie"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-title">
          <h2>銷售平台比例</h2>
        </div>
        <div class="ibox-content">
          <div id="sale_platform_pie"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-title">
          <h2>縣市比例</h2>
        </div>
        <div class="ibox-content">
          <div id="city_pie"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    var ship_type_config,sale_platform_config,sale_platform_data,ship_type_chart,sale_platform_chart, city_config, city_chart, sales_chart, sales_config;
    var tooltipFormat = {format: {
                          value: function(value, ratio, id){
                            return value;
                          }
                        }};
    ship_type_config = {
      bindto: '#ship_type_pie',
      data: {
          json: gon.ship_type_count,
          type : 'pie'
      },
      tooltip: tooltipFormat
    };

    sale_platform_data = gon.sale_platform_count.map(function(value, key) {
                            return [value.name , value.sale_platforms_count];
                         });

    sale_platform_config = {
      bindto: '#sale_platform_pie',
      data: {
          columns: sale_platform_data,
          type : 'pie'
      },
      tooltip: tooltipFormat
    }

    city_config = {
      bindto: '#city_pie',
      data: {
          json: gon.city_count,
          type : 'pie'
      },
      tooltip: tooltipFormat
    }

    var sales = gon.sales,
      xDate = ['x'],
      yData = ['cost'],
      y2Data = ['price'];

      sales.map(function(item){
        var itemTime = new Date(item.updated_at),
            itemFormat = d3.time.format("%H:%M:%S");
        xDate.push(itemFormat(itemTime));
        yData.push(item.total_cost);
        y2Data.push(item.total_sale);
      });

    sales_config = {
      bindto: '#sales_chart',
      data: {
          x: 'x',
          columns: [
            xDate,
            yData,
            y2Data
          ],
          colors: {
            cost: '#BABABA',
            price: '#1ab394'
          }
      },
      axis: {
          x: {
            type : 'category'
          }
        },

    }
    ship_type_chart = c3.generate(ship_type_config);
    sale_platform_chart = c3.generate(sale_platform_config);
    city_chart = c3.generate(city_config);
    sales_chart = c3.generate(sales_config);
    $('.footable').footable();
  });
</script>
