<div class="nested-fields">
  <%= link_to_remove_association  f, class:"btn btn-xs btn-danger pull-right"  do %>
    <i class="fa fa-trash"></i> Delete Color
  <% end %>
  <%= f.input :name %>
</div>
