<div class="wrapper wrapper-content">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3">
        <div class="ibox">
          <div class="ibox-content product-box">
            <div class="product-slick">
              <%= render :partial => "common/product_images" , locals:{ product: product, image_type: "thumb" }%>
            </div>
            <div class="product-desc">
              <span class="product-price">
                $ <%= product.price %></span>
              <div class="product-name">
                <%= link_to(product.title, product_path(product), class: "product-name") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<script type="text/javascript">
  $(function() {
    $('.product-slick').slick({
      dots: true,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
      arrows: false
    });
  });
</script>
